*.chi
*.chs.h
.virthualenv
virthualenv.log
*#
src/*.hcr
examples/interpreter/*.hcr
examples/testing/*.hcr

lib/base-4.*
lib/base-trunk*

#profiling and debugging
output*
*.hp
*.prof

#tools
.hsenv
dist
cabal-dev
*.o
*.hi
.dist-buildwrapper
.project
report.org